<header class="header" data-header>
  <div class="container">

    <a href="index.html" class="logo" aria-label="The Arabian Chicken Bites">
      <img src="./assets/images/logo.svg" width="360" height="120" alt="The Arabian Chicken Bites Logo">
    </a>

    <nav class="navbar" data-navbar>

      <button class="close-btn" aria-label="close menu" data-nav-toggler>
        <ion-icon name="close-outline" aria-hidden="true"></ion-icon>
      </button>

      <a href="index.html" class="logo" aria-label="The Arabian Chicken Bites">
        <img src="./assets/images/logo.svg" width="360" height="120" alt="The Arabian Chicken Bites Logo">
      </a>

      <ul class="navbar-list">

        <li class="navbar-item">
          <a href="index.html" class="navbar-link hover-underline active">
            <div class="separator"></div>

            <span class="span">Home</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="menu.html" class="navbar-link hover-underline">
            <div class="separator"></div>

            <span class="span">Menus</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="index.html#about" class="navbar-link hover-underline">
            <div class="separator"></div>

            <span class="span">About Us</span>
          </a>
        </li>

        <li class="navbar-item">
          <a href="#contact" class="navbar-link hover-underline">
            <div class="separator"></div>

            <span class="span">Contact</span>
          </a>
        </li>

      </ul>

      

    </nav>

    <button class="nav-open-btn" aria-label="open menu" data-nav-toggler>
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
    </button>

    <div class="overlay" data-nav-toggler data-overlay></div>

  </div>
</header>
